@import 'variables';

footer {
    background: $darker-gray;
    height: 60px;
    border-top: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        margin: 0;
        color: #989898;
    }
}