@import 'variables';

.container {
    border: 5px solid #333;
    border-top: 5px solid $main-color;
    font-family: Georgia, sans-serif;
    margin: 0 auto;
    padding: 0;
    
    background: $lighter-gray;
}

.inner-container {
    width: 100%;
    background: url('../img/girl-447701_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-shadow {
    width: 100%;
    padding: 20px 0;
    background: rgba($color: #000, $alpha: .5);
}

.wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}

.fa-bars {
    font-size: 1rem;
}

// Media Queries

@media (min-width: 1080px) {
    .container {
        margin: 30px auto;
        box-shadow: 10px 10px 20px #aaaaaa;
    }
}

@media (max-width: 992px) {
    .container-shadow {
        padding: 0;
    }
}