@import 'variables';

.hero-description {
    color: #fff;
    max-width: 450px;
    margin-top: 100px;
}

.hero-title {
    font-size: 3.83rem;
    line-height: 3.83rem;
}

.hero-text {
    font-size: 1rem;
}

.hero-image {
    max-width: 430px;
    height: 430px;
    padding: 0;
    border: 25px solid $image-border;
    border-radius: 50%;
    background: url('../img/girl-1863906_640.jpg');
    background-size: cover;
    background-position: center;
    margin-top: 20px;
}

.hero-btn {
    background: $main-color;
    border-radius: 10px;
    color: #fff;
}