@import 'variables';

.service-section {
    padding: 60px 0;
}

.card {
    text-align: center;
    max-width: 225px;
    padding: 0;
    cursor: pointer;
    transition: all 0.5s;
    &:hover {
        background: $main-color;
        color: #fff;
    }

    .fa {
        font-size: 7.5rem;
        margin: 20px auto;
    }
}

.card-title {
    font-size: 2.66rem;
}

// Media Queries
@media (max-width: 992px) {
    .card {
        max-width: 320px;
        margin-bottom: 30px;
    }
}